@model Parker_s_Body_Shop.Models.ContactRequestViewModel
@Scripts.Render("https://maps.googleapis.com/maps/api/js")
@Scripts.Render("~/Scripts/googleMaps.js")

<h3>@ViewBag.Message</h3>

<address>
    Parker's Body Shop is located at:<br />
    814 S Main St<br />
    Clover, South Carolina 29710<br />    
    <abbr title="Phone">P:</abbr>
    803.222.9112
</address>

<div id="map-canvas">
</div>

<div style="display: none;"><h4>Prefer that we contact you?  Please submit your request below and we will respond to you as soon as possible.</h4></div>

@using(Html.BeginForm("SubmitContact", "Home", FormMethod.Post, new { @class="form-group", hidden="true" } ))
{
    <div class="container">
        <div class="form-group">            
            @Html.LabelFor(model => model.FirstName)                     
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows="3" })
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </div>
}